@font-face {
  font-family: 'Moderat';
  src: url(/font/Moderat-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: 'Moderat', 'sans-serif';
  font-size: 14px;
}

body {
  margin: 0px 10%;
  content: center;
}

.header {
  width: 100%;
}

.header div {
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.logo svg {
  height: 50px;
  max-width: 200px;
}

.nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0px 10px;
  padding: 10px 12px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-links a {
  text-decoration: none;
  color: #262C55;
}

.nav-links ul li .hover:hover {
  color: #45dec2;
}

.button {
  float: right;
}

.button button {
  background: #EEEEEE;
  position: relative;
  width: 142.27px;
  height: 47px;
}

.button button {
  background: #EEEEEE;
  position: relative;
  width: 142.27px;
  height: 47px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
}

.button button:hover {
  background: #18183e;
  color: #ffffff;
}

.button, .button button {
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #000000;
}

.nav-links .dropdown {
  display: none;
}

.nav-links ul li:hover .dropdown {
  display: block;
  position: absolute;
  background-color: #ffffff;
  padding: 15px 8px 25px;
  width: 330px;
  height: 282px;
  border: 1px solid whitesmoke;
  border-radius: 15px;
}

.nav-links ul li:hover .dropdown ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 94px 94px 94px;
      grid-template-rows: 94px 94px 94px;
}

.nav-links ul li:hover .dropdown ul .dropdown-contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links ul li:hover .dropdown ul .dropdown-contents .span {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 0;
}

.nav-links ul li:hover .dropdown ul .dropdown-contents .span span:first-child {
  font-weight: bolder;
}

.firstsection {
  width: 750px;
  padding: 70px 0px;
}

.firstsection h1, h1 span {
  font-size: 7vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.firstsection h1 span {
  color: #fb9129;
}

.firstsection h1 {
  margin: 0px 0px 30px;
}

.firstsection p {
  width: 610px;
  font-size: 22px;
  line-height: 150%;
  margin: 0px 0px 40px;
}

.button-1 {
  background: #0a0e27;
  border: 1px solid #0a0e27;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bolder;
  padding: 21px 24px;
  margin-right: 20px;
}

.button-2 {
  background: #EEEEEE;
  position: relative;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 16px;
  padding: 21px 24px;
}

@media (min-width: 751px) {
  .secondsection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    margin: -70px 0px 0px;
    padding: 100px 0px 80px;
    float: left;
  }
  #firstdiv {
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    left: 0;
    width: 55vw;
    height: 752px;
  }
  #firstdiv img {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 736.58px;
    width: 100%;
    height: 752px;
  }
  #seconddiv {
    position: relative;
    right: 0;
    top: -200px;
    width: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 680px;
    float: right;
  }
  #seconddiv img {
    max-width: 524.42px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 30%;
       object-position: 50% 30%;
    height: 680px;
  }
  #firstdiv p {
    position: relative;
    float: right;
    bottom: 7%;
    right: 3%;
    font-size: 24px;
    color: #ffffff;
  }
  #seconddiv #first-p {
    position: relative;
    bottom: 7%;
    left: 3%;
    font-size: 24px;
    max-width: 200px;
    color: #ffffff;
  }
  #seconddiv p:last-child {
    margin: 50px 0px 0px;
    font-size: 20px;
    color: #1d1d11;
    line-height: 150%;
    width: 390px;
  }
  .thirdsection {
    position: relative;
    margin: 950px 0px 0px;
  }
}

@media (max-width: 900px) {
  .header .nav-links {
    display: none;
  }
  .header button {
    display: none;
  }
  .firstsection {
    width: 90vw;
    padding: 0;
    margin-right: 0px;
  }
  .firstsection h1, h1 span {
    font-size: 10vw;
  }
}

@media (max-width: 750px) {
  body {
    margin: 0 2%;
  }
  .secondsection {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -70px 0px 0px;
    padding: 100px 0px 80px;
  }
  #firstdiv img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #seconddiv img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.thirdsection {
  padding: 60px 0px;
}

.thirdsection p {
  margin: 0px 0px 40px;
  color: #1d1d11;
  font-size: 22px;
}

.thirdsection p span {
  color: #1d1d11;
  font-size: 22px;
  font-weight: bolder;
}

.businesses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.business {
  height: 100px;
  width: auto;
}

.business__logo {
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  color: #000000;
}

.business__logo:first-child, .business__logo:nth-child(4) {
  height: 40%;
}
/*# sourceMappingURL=styles.css.map */